/YUTPLAT.Tests/obj
/YUTPLAT.Tests/bin
obj
bin
/.vs/YUTPLAT/v14/*.suo
packages
/YUTPLAT/App_Data/aspnet-YUTPLAT-20170821111852_log.ldf
/YUTPLAT/App_Data/aspnet-YUTPLAT-20170821111852.mdf
/.vs/config/applicationhost.config
