<nav class="navbar navbar-default navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @{
                var NombreApellido = "";

                if (HttpContext.Current.Session["Persona"] != null)
                {
                    NombreApellido = ((YUTPLAT.ViewModel.PersonaViewModel)HttpContext.Current.Session["Persona"]).NombreApellido;
                }
            }

            <p class="navbar-brand">@ViewBag.Titulo</p>
        </div>
        <div class="collapse navbar-collapse">

            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-brand-name">@NombreApellido</p>
                    </li>
<li>
                    <a href="@Url.Action("LogOff", "Account")">
                        <p>Salir</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>