<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <configProtectedData>
    <providers>
      <add name="MyProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
           keyContainerName="RsaKeyYutplat"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  
  <connectionStrings configProtectionProvider="MyProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>2n98sYpmTiiXQIvwBu2Ba5Gmek4f8QDEeIzH9PXy3Wo3Ntyh8rPdsL+8scyqYndDQ1+79sfH+8bbJgDPxa1UTdcqg8/YdZoXtbxGgIiQr43qENm9uZmDS6KgKvDh87EzUpmy6pIS/zFCHz0+Whv6daSI+anofyTzi0uvO0JdnFU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>UJ6/WuuV/nlzxqnlgDffKnp26ORbSN8U3NxJWzlduvPKhFeWqI3biP6Nlv0PP+EY5N6NsjoP6T6P2QGX6gOcd1V6tuVg3cJhVcxcHAt/PdKYSdn0QY/U3JZgrgWw33W5Q6+KKtkxmxMisWdjYrfJd6xrCpN+d0WH2RqbevalLcOzwLaYk8V2rc1hsSNH3Lgy9hPpZuKdrDoc4stri4xYysgBz3zEMr/ZuBFlrSMAMz/NtEIsQ7l4i1APw8azMTIbg26omoFOBrDYnrUXUskUyVtedVHd+RsuW+T8RB1ZnF/xRB9mk7YR6F8l+mIaeUEL7/LDCra57n1LPNIyz7Kl6zhh67uPpfXdJqQ/drIU5ezDkL44KKyjvxImD2EMYnaDWlKNg3sq0E0BUKXLmXLRDatvCA8jmstxdmRxhQ35WoPQZNJpcBEvhd6juQy5jSNh9MwSWPqWRfLks/5IKB4wwD8fJcsljVdMWRSbNefusx4FVcT/XJTrxCXtvfTLWMERQldxxIAh+sQp3jCQoHXDY6adBoA8G2Yl4He5QYDG2iOSQ6ILkeulOnYwIbUj8Fo2IbSt7PxIBYU4QZ49O8SEmnYC6WpDQhjoI6UCpbfJxvlQoBcUfmQYo1tmiK8sjYUvx7u/sQfkQyLJArKwRIVt/LoNghI1rRByhcsyTzMi63ay79IVgL4LSjHWtvbA0+/eCHrc6YOp6s1pHSA/zK0Pv3dDZFKwtNvrl2qoguo8RiMJSrfHU8Z3jFAu5ZHzXqGHYDi4RgLETWg1MggKkhQQxowqeB8zzj2nHO+ZpS7xHMm6TvTFk1XD0rr4m7f5+EEJibTqOVIEXmaK3wz6+4PjZA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  
  <appSettings configProtectionProvider="MyProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>lkit9tlI1JzF7LFJA+O6lGy5fVYwId2M9Z5K7BenX1zZx15QlCUclfYRpNTa5HsHvhktxDG4LVCTnQcBTYtsu+NhuGCapPLKo+w6kYRIadyFNtNII3CMkd42ztgQHHZy0kYPvk1bAr4+4nslVNMvOhpHr+Rp3BguY3W1DHz4dVA=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>DVB99s6sYqC5Msj1MO1niOjxMOJYqkBDVYpMdvz9GloMTMQkwRtgCMG21YrdQydvyWBBjEMb7WbMax3dNarRLsmx4Ij+FtoENl8YvlVNt81CZ9sa/4nLHrwIN9Opvul4FyFMAsPXByOk67Ix/EnR8UN9atNqAcRs/NShuWL/quupxEMnb95/amjuuF1daVzGWFAefn+nlXSKOg+rvf/Xz+U9n09od6Pilq7GHUrBDxPyI7KoGfY546MArFJbrBDysR/Wl4InZVzlrwlOxYJHzjlYZPohXkpIMceP824qqvlGQ7o9wuQKBOrS2bq7EeNmnv4Huk+tRNnArvt8UqgAhM5JkRKw0NrRQCdn8x1L7xiBt0oCzNNvwHrlIySLGl1UHNykn1tldsCJbc5UjPSbl6LgPQ7Z8oVbN2VsfDr+aXUgZq/eRJ57olAGwWkJKtkh7jjuWBfLhDu98jTjVqlHWFRlqjSWRQx+692cz3oVcdGVYH3CH8fASUzj9D+J6kHKdssCBUs9AL87BH6lcyLSBsscaM9k5g7ofHTpO2TRRe48EbBCjIJGJxYrhAJqXp+NchwdpPnEdf8uaYY7IWiHVE/pOZGd1lFH0IaFpLSf7E0LOS4yO8exVeQNLcnrF1FjLZ/SC2INb+Ht/SXsdLESmDXue19qCxVbKvE/8EkZQPI=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <sessionState mode="InProc" timeout="30" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>