<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="YUTPLAT" connectionString="Data Source=localhost;Initial Catalog=YUTPLAT;Persist Security Info=True;User ID=kronosnet;Password=14.Kronosnet;User Instance=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="YUTPLATEntities" connectionString="metadata=res://*/Models.YUTPLATModel.csdl|res://*/Models.YUTPLATModel.ssdl|res://*/Models.YUTPLATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=YUTPLAT;User ID=kronosnet;Password=14.Kronosnet;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="MailTipo" value="Aplicacion" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailFromAccount" value="noReply@yutplat.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailUsername" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailPassword" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailAuthentication" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailHabilitarSsl" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailPort" value="25" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailHost" value="10.2.1.29" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailProfile" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />    
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />   
  </system.web>
  
</configuration>