<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="YUTPLAT" connectionString="Data Source=localhost;Initial Catalog=YUTPLAT;Persist Security Info=True;User ID=kronosnet;Password=14.Kronosnet;User Instance=False" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="YUTPLATEntities" connectionString="metadata=res://*/Models.YUTPLATModel.csdl|res://*/Models.YUTPLATModel.ssdl|res://*/Models.YUTPLATModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=YUTPLAT;User ID=kronosnet;Password=14.Kronosnet;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />   
  </system.web>
</configuration>