@using YUTPLAT.ViewModel
@model TableroViewModel

<script src="~/Scripts/Graficos/d3.v3.js"></script>
<script src="~/Scripts/Graficos/d3.tip.v0.6.3.js"></script>

<script src="~/Scripts/Graficos/heatMap.js"></script>
<script src="~/Scripts/Graficos/gauge.js"></script>

<style>
    .square:hover {
        stroke: DarkBlue;
        stroke-width: 3px;
    }

    text.mono {
        font-size: 9pt;
        font-family: verdana;
        fill: #aaa;
    }

        text.mono:hover {
            font-size: 9pt;
            font-family: verdana;
            fill: #aaa;
        }

    text.mono1 {
        font-size: 9pt;
        font-family: verdana;
        fill: #aaa;
    }

        text.mono1:hover {
            font-size: 9pt;
            font-family: verdana;
            fill: black;
        }

    .text-mono1-hover {
        font-size: 9pt;
        font-family: verdana;
        fill: black;
    }

    .square {
        opacity: 1.0;
    }

        .square:hover {
            opacity: 1.0;
        }

    .d3-tip {
        font-family: Verdana;
        background: rgba(0, 0, 0, 0.8);
        padding: 8px;
        color: #fff;
        z-index: 5070;
    }

    #power-gauge g.arc {
        fill: steelblue;
    }

    #power-gauge g.pointer {
        fill: #151515; /* Color relleno aguja */
        stroke: #151515; /* Color borde aguja; */
    }

    #power-gauge g.label text {
        text-anchor: middle;
        font-size: 14px;
        font-weight: bold;
        fill: #666;
    }
</style>


<script type="text/javascript">

    function scrollToAnchor(aid) {
        var aTag = jQuery("a[name='" + aid + "']");
        jQuery('html,body').animate({ scrollTop: aTag.offset().top }, 'slow');

        alert(aTag.offset().top);
    }

    function obtenerValores() {
        var serviceURL = '@Url.Action("ObtenerValores", "Tablero")';
        var valores;

        jQuery.ajax({
            type: "POST",
            url: serviceURL,
            async: false,
            data: param = "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function successFunc(data, status) {
                valores = data;
            },
            error: function errorFunc() {
                alert('error');
            }
        });

        return valores;
    };
</script>

<div class="content">
    <div class="container-fluid">

        <div class="card">
            <div class="row">
                <div class="col-md-12">

                    <div class="header">
                        <h4 class="title">Tablero de comando</h4>
                        <p class="category">Año 2017</p>
                    </div>
                    <div class="content">
                        <div id="chart"></div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cargar indicador</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <label id="hola">Holaaaa</label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row detalleGrafico">
                            <div class="col-md-6">
                                <div class="header">
                                    <h4 class="title">Detalle última carga</h4>
                                    <p class="category">Detalle última carga</p>
                                </div>

                                <div id="power-gauge"></div>

                            </div>

                            <div class="col-md-6">
                                <div class="header">
                                    <h4 class="title">Evolución últimos meses</h4>
                                    <p class="category">Detalle año 2017</p>
                                </div>

                                <div id="power-gauge"></div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>